@model Position

<div class="card-body">
    <h4 class="card-title">Models/Position/Update</h4>
    <form class="forms-sample" method="post">

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2"><i class="mdi mdi-table-edit"></i>Update</button>
        <a asp-action="index" asp-controller="position" class="btn btn-dark">Cancel</a>
    </form>
</div>